<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta description="La description d'Ascii-Art-Web.........">
    <meta author="cisall mouwade itine">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">-->
    <link rel="icon" href="/B.jpg">
    <title>Ascii-Art-Web</title>
</head>
<body>
    <h1><a href="https://learn.zone01dakar.sn/git/root/public/src/branch/master/subjects/ascii-art-web/README.md" target="_blank">Ascii-Art-Web</a></h1>
     <form name="Result_Ascii" method="post" action="ascii-art" >
    <br>
        <div id="Input">
            <textarea name="Saisie" id="id_Saisie" placeholder="Entrez votre texte ici..." rows="5" cols="35"></textarea>
        </div>
        <br>
        <div  id="Banner">   
            <!--<input type="radio" checked name="Banner" id="id_{{.Banner}}" value="{{.Banner}}">
            <label for="id_{{.Banner}}">{{.Banner}}</label>-->
            <input type="radio" name="Banner" id="id_Standard" value="Standard">
            <label for="id_Standard">Standard</label>
            <input type="radio" name="Banner" id="id_Shadow" value="Shadow">
            <label for="id_Shadow">Shadow</label>
            <input type="radio" name="Banner" id="id_Thinkertoy" value="Thinkertoy">
            <label for="id_Thinkertoy">Thinkertoy</label>
            <br><br><input type="submit" name="Envoyez" id="id_Submit" value="Send">
            </div>
    </form>
    <footer>
    <br>&copy;Copyright 2023 by itine cisall mouwade
    </footer>
    <style>
        h1{
            text-align: center;
        }
    </style>
</body>
</html>